/* styles/style.css */

/* 1 фото на мобільному */
#slider img {
    width: 100%;
}

/* 2 фото на планшетах */
@media (min-width: 640px) {
    #slider img {
        width: 50%;
    }
}

/* 4 фото на великих екранах */
@media (min-width: 1024px) {
    #slider img {
        width: 25%;
    }
}
/* Анімація обертання */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.spin-logo {
    animation: spin 12s linear infinite;
}

/* Поява/зникання */
#scroll-logo {
    pointer-events: none;
    /* щоб невидимий блок не перекривав кліки */
}

#scroll-logo.visible {
    opacity: 1;
    pointer-events: auto;
    /* активний тільки коли видно */
}