body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

#slider img {
  height: 300px;
  object-fit: cover;
  flex-shrink: 0;
}

/* Мобільний */
@media (max-width: 640px) {
  #slider img {
    height: 220px;
  }
}

/* Планшет */
@media (min-width: 641px) and (max-width: 1024px) {
  #slider img {
    height: 260px;
  }
}

/* ПК */
@media (min-width: 1025px) {
  #slider img {
    height: 320px;
  }
}
